<!-- <div class="form-group">
  <label>Gender</label>
  <button type="button" class="btn btn-primary">Primary</button>
  <div *ngFor="let p of this.list.productInfo; let k=index">
    <div id="input-type">
      <label class="radio-inline">
          <input type="radio" [checked]="this.radioValues1[k]" formControlName="gender" value="male"/> Included
      </label>
      <label class="radio-inline">
            <input type="radio" [checked]="this.radioValues2[k]" formControlName="gender" value="female"/> Not Included
      </label>
  </div>
  </div>
</div> -->
<div class="container-fluid" style="background-color:#f5eded">
  <div style="font-size:12px;"><b>SpaceX Launch Programs</b></div>
  <div class="sidenav">
    <div><b>Filters</b></div>
    <div style="text-align:center;">Launch Year</div><hr style="margin-top:0px;"/>
    <div class="row" style="margin-top:25px; ">
      <div *ngFor="let p of this.launchYearListUnique; let k=index">
      <div class="col-sm-6" style="margin-top:3px;">
        <button type="button" class="btn btn-success" style="font-size:11px;" (click)="getYear(p)">{{p}}</button>
      </div>
    </div>
    </div>
    <div style="text-align:center;margin-top:3px;">Successful Launch</div><hr style="margin-top:0px;"/>
    <div class="row">
      <div style="padding-left:17px !important;">
        <button type="button" class="btn btn-success" style="font-size:11px;" (click)="getSuccessfulLauchValue('T')">True</button>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div >
        <button type="button" class="btn btn-success" style="font-size:11px;" (click)="getSuccessfulLauchValue('F')">False</button>
      </div>
    </div>
    <div style="text-align:center;margin-top:10px;">Successful Landing</div><hr style="margin-top:0px;"/>
    <div class="row">
      <div style="padding-left:17px !important;">
        <button type="button" class="btn btn-success" style="font-size:11px;" (click)="getSuccessfulLandingValue('T')">True</button>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="">
        <button type="button" class="btn btn-success" style="font-size:11px;" (click)="getSuccessfulLandingValue('F')">False</button>
      </div>
    </div>
  </div>
  
  <div class="main">
    <div class="row" style="margin-top:25px;">
    <div *ngFor="let p of this.list; let k=index">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card" style="width: 12rem;margin-top:10px;padding:10px;">
          <img class="card-img-top" style="background:#E0E0E0" src={{p.links.mission_patch_small}} alt="Card image cap" width="50%" height="50%">
          <div class="card-body">
            <h5 class="card-title"><font color="blue" style="font-size:14px;">{{p.mission_name}}&nbsp;#{{k+1}}</font></h5>
            <p class="card-text" style="font-size:10px;"><b>Mission Ids</b></p>
              <ul *ngFor="let q of p.mission_id">
                <li style="font-size:10px;margin-top: -12px;">{{q}}</li>
              </ul>
              <p class="card-text" style="font-size:10px;"><b>Launch year:</b> {{p.launch_year}}</p>
              <p class="card-text" style="font-size:10px;"><b>Successful Launch:</b> {{p.launch_success}}</p>
              <p class="card-text" style="font-size:10px;"><b>Successful Landing:</b> {{p.launch_landing}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  <div style="text-align:center;"><b>Developed by:</b> {{this.dev_name}}</div>
</div>